/* =========================================
   Seção Atuação 
   ========================================= */

.atuacao {
    width: 100%;
    padding: 8rem 0;
    background-color: var(--cor-bg);
}

.atuacao-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.atuacao-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;

    p {
        width: 650px;
    }
}

.atuacao-imagem {
    width: 100%;
    max-width: 1000px;
}