/* =========================================
   Variaveis globais
   ========================================= */

:root {
    --cor-bg: #fff;

    --cor-primaria: #010647;
    --cor-secundaria: #F58634;
    --cor-texto: rgb(1, 6, 71, 0.8);
    
    --fonte-principal: 'Poppins', sans-serif;
}

/* =========================================
   Resetando CSS & Estilos Base
   ========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-bg);
    color: var(--cor-texto);
    line-height: 1.6;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1720px;
    padding: 0 6rem;
}

/* Tipografia */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 800;
    color: var(--cor-primaria);
}

h1 {
    font-size: 4.175rem;
}

p {
    color: var(--cor-texto);
    font-size: 1.075rem;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
}


/* =========================================
   Componentes Globais
   ========================================= */

/* Tags */

.tag-padrao {
    font-size: .875rem;
    font-weight: 400;
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
      

    span {
        display: inline-block;
        width: 85%;
        height: 1.5px;
        background-color: var(--cor-secundaria);
        box-shadow: 0 147px 41px 0 rgba(245, 134, 52, 0.02),
                    0 94px 38px 0 rgba(245, 134, 52, 0.15),
                    0 53px 32px 0 rgba(245, 134, 52, 0.5),
                    0 24px 24px 0 rgba(245, 134, 52, 0.85),
                    0 6px 13px 0 rgba(245, 134, 52, 0.98);

        /* animation: linhaMagica 2.5s ease-in-out infinite; */
        transform-origin: left;
        transform: scaleX(1);
    }
}

.tag-padrao:hover span {
    animation: linhaMagica 1.5s ease-in-out forwards;
}

@keyframes linhaMagica {
    /* 1. Início: Linha completa */
    0%, 10% {
        transform-origin: right; /* Âncora na direita */
        transform: scaleX(1);
    }
    /* 2. Encolhe da esquerda para a direita */
    45%, 50% {
        transform-origin: right;
        transform: scaleX(0); /* Fica com largura 0 */
    }
    /* 3. Troca a âncora invisivelmente enquanto a linha está sumida */
    50.1% {
        transform-origin: left; /* Muda a âncora para a esquerda */
        transform: scaleX(0);
    }
    /* 4. Estica da esquerda para a direita */
    90%, 100% {
        transform-origin: left;
        transform: scaleX(1); /* Volta para a largura normal */
    }
}

/* Botões */

.btn {
    display: flex;
    align-items: center;
    padding: 0.875rem 1.75rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 400;
    border: none;
    gap: 12px;
    transition: all 0.3s ease-in-out;

    img {
        width: 14px;
        height: 14px;
        transition: all 0.3s ease-in-out;
    }
}

.btn-primario {
    background: var(--cor-primaria);
    color: var(--cor-bg);
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
}

.btn-primario::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
    transition: left 0.8s;
}

.btn-primario:hover::before {
    left: 100%;
}

.btn-primario:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 15px -4px rgba(79, 70, 229, 0.4);

    img {
        transform: rotate(45deg);
    }
}