@charset "UTF-8";

.hero {
    height: 100dvh;
    display: flex;
    align-items: center;
    padding-top: 72px;
    position: relative;
    overflow: hidden;
    width: 100vw;

    background-image: url(../../assets/img/hero-bg-desktop.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    max-width: 790px;
    align-items: flex-start;
    gap: 1.275rem;
}

.hero-textos {
    display: flex;
    flex-direction: column;
    gap: .825rem;
}

.titulo {
    font-size: 3rem;
    letter-spacing: -2px;
}

.titulo span {
    color: var(--cor-secundaria);
}
