@charset "UTF-8";

.sobre {
    width: 100%;
    height: 120vh;

    background-image: url(../../assets/img/fundo-sobre.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: -31px;

    .sobre-conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        max-width: 1224px;

        img {
            width:40%;
        }

        .sobre-container {
            display: flex;
            flex-direction: column;
            gap: 1.875rem;
            align-items: flex-start;
            width: 45%;
        }

            .sobre-textos {
                display: flex;
                flex-direction: column;
                gap: .75rem;

                .titulo-sobre {
                    font-size: 2.5rem;
                    letter-spacing: -2px;
                    color: var(--cor-bg);

                    span {
                        color: var(--cor-secundaria);
                    }
                }

                .subtitulo p {
                    color: rgba(255, 255, 255, 0.8);
                    text-indent: 1rem;
                    font-weight: 300;
                }
            }
        }
    }
}